.login_bg{
    background-image: url('../assets/login-bg.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 92vh;
}